* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

.container {
	width: 70%;
	margin: auto auto;
}

header {
	height: 40px;
	display: flex;
	align-items: center;	
	border-bottom: 1px solid;
}

.header-left {
	float: left;
	width: 50%;
}

.header-right {
	float: right;
	width: 50%;
}

.header-icon-list {
	list-style: none;
	float: left;
}

.header-options-list {
	float: right;
	list-style: none;
}

.header-icon-list li, .header-options-list li {
	float: left;
	border-right: 1px solid;
	padding: 5px;
}

.header-icon-list li:last-child, .header-options-list li:last-child {
	border-right: 0px;
}

.language-selector {
	display: inline;
}

.menu-inner {
	height: 75px;
	display: flex;
	align-items: center;
}

.menu-logo {
	width: 20%;
	float: left;
}

.menu-menu {
	width: 60%;
	display: flex;
	justify-content: center;
}

.menu-menu ul {
	list-style: none;
}

.menu-menu ul li {
	float: left;
	padding: 10px 20px;
}

.menu-options {
	float: right;
	width: 20%;
}

.menu-options-search-box, .menu-options-cart {
	display: inline;
	float: right;
}

.banner-inner {
	height: 600px;
}

.banner-item {
	display: flex;
	align-items: center;
	height: 100%;
	background-image: url('./../fashion1.jpg');
	background-size: cover;
}

.sales-inner, .services-inner {
	height: 350px;
	margin: 0 -20px;
	display: flex;
	align-items: center;
}

.services-inner {
	height: 275px;
}

.services {
	background-color: lightgrey;
}

.sales-item, .services-item {
	width: 33.3%;
	height: 200px;
	background-color: red;
	float: left;
	padding: 0 -20px 0 -20px;
}

.services-item	{
	width: 25%;
	height: 150px;
}

.sales-item-inner, .services-item-inner, .new-collections-item-inner {
	margin: 0 20px;
	height: 100%;
	background-color: lightgrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 30px;
}

.new-collections-item-inner {
	margin: 0 10px;
	padding: 0px;	
}

.services-item-inner {
	background-color: white;
	align-items: center;
	text-align: center;
}

.services-item-round {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-style: dotted;
	border-width: 1px;
}

.new-collections-inner {
	height: 700px;
}

.new-collections-heading {
	text-align: center;
	margin: 30px;
}

.new-collections-filter ul {
	list-style: none;
}

.new-collections-filter ul li {
	float: left;
	padding: 10px 20px;
}

.new-collections-items {
	margin: 30px 0;
	padding: 0 -10px;
	clear: both;
}

.new-collections-item {
	height: 450px;
	width: 25%;
	background-color: red;
	float: left;
}

.new-collections-item-image {
	width: 100%;
	height: 80%;
	background-color: grey;
}

.new-collections-item-info {
	height: 20%;
	width: 100%;
	background-color: blue;
}








